.loading-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    position: relative;
}

.loading-text {
    font-size: 50px;
    color: #fff;
  }


.wholePageNone{
    display: none;
  }

#intro{
    height: 100vh;
}

img{
    margin-bottom: 20px;
}